

   .contents{
    position: absolute;
    left: 10px;
    z-index: 10;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid midnightblue;
   border-radius: 10px;
    outline: none;
    width: 170px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    font-family: "Mooli", sans-serif; 
   
    option{
      background-color: white;
      cursor: pointer;
      padding: 10px 10px;
      font-family: "Lato", sans-serif;
      border: 1px solid midnightblue;
      font-size: 16px;
      color: maroon;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-family: "Mooli", sans-serif; 
      
    }
    
   
   }



.title2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: max-content;
  text-align: center;
  h1{
    color: teal;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    text-decoration-color:maroon;
    text-align: center;
    font-family: "Merienda", cursive;
  }
  
  }
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    font-family: "Mooli", sans-serif; 
    .product-card {
      width: 280px;
      height: max-content;
      margin: 10px;
      padding: 10px;
      border: 1px solid chocolate;
      border-radius: 10px;
    box-shadow: rgba(103, 1, 6, 0.219) 0px 25px 25px -20px,
    rgba(43, 7, 100, 0.25) 0px 25px 25px -20px;


      img {
        width: 100%;
        height: 300px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover{
          transform: scale(1.03);
        }
      }
      h3 {
        margin-top: 10px;
        font-size: 18px;
        color: navy;
      }
      p {
        margin-top: 5px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        color: maroon;
      }
      h4{
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
      }
      .button{
        display: flex;
        justify-content:space-around;
        align-items: center;

        h4{
          cursor: pointer;
          width: fit-content;
          height: fit-content;
          border-radius: 50%;
          background-color:lemonchiffon;
          padding: 10px;
          display: flex;
          justify-content:center;
        align-items: center;
        }
      Button {
        background: linear-gradient(to right, floralwhite , #83fff7, floralwhite );
        background-size: 200% 100%;
        color: #034070;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-position 0.3s;
        font-family: "Mooli", sans-serif; 
        
        &:hover {
          background-position: -100% 0;
          color: #034070;
        }

       
      }
      
    }
    }
  }